<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.webServer>
    
    <!-- indicates that the postnumreapp.js file is a node.js application 
         to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="postnumreapp.js" verb="*" modules="iisnode" />
    </handlers>
    <!--   -->
    <iisnode loggingEnabled="true" debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxNamedPipeConnectionRetry="3" namedPipeConnectionRetryDelay="2000" />

  
    <rewrite>
      <rules>
        <rule name="inspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^postnumreapp.js" />
        </rule>
        <rule name="Index Request" enabled="true" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="postnumreapp.js" logRewrittenUrl="true" />
        </rule>
        <rule name="postnumre alle">
          <match url="/*" />
          <action type="Rewrite" url="postnumreapp.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- exclude node_modules directory and subdirectories from serving
       by IIS since these are implementation details of node.js applications 
    
     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />   
         </hiddenSegments>
       </requestFiltering>
     </security>-->

  </system.webServer>
</configuration>
